page-detalles {

    p{
        color: #6a6a6f;
    }

    .contenedor{
        text-align: center;
    }

    .incorrect {
        color : #b91f1fc7;
    }

    .advertencia{
        font-size: 30px;
        color : #b91f1fc7;
    }

}
